<header class="header">
    <div class = "logo">
        <label (click) = "home()" class = "text">Lihle M.</label>
    </div>

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li (click) = "home()"><label class = "menu-font">SUMMARY</label></li>
        <li><label class = "menu-font">EXPERIENCE</label></li>
        <li (click) = "portfolio()"><label class = "menu-font">PORTFOLIO</label></li>
        <li (click) = "reference()"><label class = "menu-font">REFERENCES</label></li>
    </ul>
</header>