<div class = "center-div">

    <label class = "birth">YOU'VE REACHED ME, NOW SAY SOMETHING</label>

    <input type="text" class = "myInput" placeholder="YOUR NAME">
    <input type="text" class = "myInput" placeholder="YOUR EMAIL">

    <textarea class = "myText" placeholder="TELL ME WHAT'S ON YOUR MIND"></textarea>

    
    <div class = "addRef"><label style="margin: 10px; cursor: pointer;">SEND</label></div>
    <div class = "cancel"><label style="margin: 10px; cursor: pointer;">Cancel</label></div>
</div>